table,
th,
tr,
td {
  border-width: 4px;
  border: dotted darkgoldenrod;
}

td {
  padding: 0 10px;
}

img {
  max-width: 250px;
  border-radius: 25px;
}

.h3-color {
  color: red;
}

.h4-color {
  color: blue;
}

.h3-colors {
  color: red;
  background-color: blue;
}

.h4-colors {
  color: blue;
  background-color: red;
}